aside {
    grid-area: aside;
    font-family: 'Permanent Marker', cursive;
    background-color: #282a25f0;
}

aside p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

aside h2 {
    text-align: center;
    text-align: justify;
}
aside h2, aside p {
    color: white;
    padding: 0 15px;
}

aside ul {
    list-style-image: url("../images/akatsuki_cloud_menor.png");
}

aside ul li {
    color: white;

}
body {
    display: grid;
    cursor: url("../images/kunai_icon.png"), default;
    grid-template-areas: 'navbar navbar navbar navbar'
                         'header header header aside'
                         'section section section aside'
                         'footer footer footer footer';
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 11vh 60vh 75vh 10vh; 
    margin: 0;              
}

body::-webkit-scrollbar {
    width: 0px; /*Remove scrollbar space*/
    background: transparent; /*Optional: just make scrollbar invisible */
}

footer {
    grid-area: footer;
}

header {
    background-image: url("../images/naruto_geral.jpg");
    grid-area: header;
    background-size: cover;
}

nav {
    align-items: center;
    background-color: #383b32;
    display: flex;
    justify-content: space-around;
    grid-area: navbar;
    font-family: 'Permanent Marker', cursive;


}

nav a {
    color: whitesmoke;
    text-decoration: none;

}

nav a:hover {
    color: #bb2127;
    cursor: url("../images/kunai_icon.png"), default;



}

nav > img {
    width: 45px;

}

section {
    grid-area: section;
}

ul {

}